.select-table-colums-item {
  display: block;
  position: relative;
  padding-right: 1.3em;
  padding-left: 1em;
  word-wrap: break-word;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  font-size: 1.2em;
  user-select: none;
  animation: selectTableContainer 1s;
}


@keyframes selectTableContainer {
  from { opacity: 0 }
  to   { opacity: 1 }
}

.select-table-colums-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.select-table-colums-checkmark {
  position: absolute;
  top: 12px;
  right: 0.3em;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: #eee;
}

.select-table-colums-item:hover {
  background-color: rgba(250, 235, 215, 0.4);
}

.select-table-colums-item:hover input ~ .select-table-colums-checkmark {
  background-color: #ccc;
}

.select-table-colums-item input:checked ~ .select-table-colums-checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.select-table-colums-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.select-table-colums-item input:checked ~ .select-table-colums-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.select-table-colums-item .select-table-colums-checkmark:after {
  left: 0.35em;
  top: 0.15em;
  width: 0.25em;
  height: 0.45em;
  border: solid white;
  border-width: 0 0.1em 0.1em 0;
  transform: rotate(45deg);
}

.select-table-colums-item input:focus ~ .select-table-colums-checkmark {
  background-color: rgba(44, 167, 33, 0.5)
}
