.paging-wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left:  2em;
}

.paging-single-page-unit {
  outline: none;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(85, 85, 85);
  cursor: pointer;
}

.paging-single-page-unit:hover {
  background-color: rgba(247, 247, 247, 0.5);
}

.paging-single-page-unit:focus {
  box-shadow: 0 0 2px 2px rgba(44, 167, 33, 0.5);
}

.paging-single-page-unit:active {
  background-color: rgba(153, 153, 153, 0.7);
}

.paging-single-page-unit-selected {
  background-color: rgb(238, 238, 238);
}

.paging-single-page-dummy {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0);
}