.custom-select-item {
  min-width: 100px;
  height: 25px;
  color: black;
  cursor: pointer;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.custom-select-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.custom-select-item.active {
  background-color: rgba(228, 255, 220, 0.7);
}