.custom-select-wrapper {
  position: relative;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.custom-select-header {
  padding: 20px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.custom-select-header:hover {
  background: rgba(255, 255, 255, 0.2)
}

.add-new-item {
  margin: 10px;
  text-align: center;
  min-height: 1.5em;
  padding: 10px;
  width: 7em;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 0 5px 5px #CCC;
  user-select: none;
}

.add-new-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 5px 2px #CCC;
}

.add-new-item:active {
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0s;
}

.add-new-item > span {
  vertical-align: sub;
}

.custom-select-filter-wrapper {
  margin: 10px;
}

.custom-select-filter {
  outline: none;
  border-radius: 5px;
  min-width: 100px;
  min-height: 20px;
}

.custom-select-list {
  max-height: 200px;
  transition: all 0.3s ease-in-out;
  overflow-y: overlay;
  padding-right: 16px;
}

.custom-select-list.hidden {
  max-height: 0;
}

.custom-select-item {
  padding: 10px;
}

.custom-select-item > span {
  vertical-align: sub;
}