.pie-chart-legend {
  margin: 10px;
}

.pie-chart-legend-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pie-chart-legend-item-color-box {
  border-radius: 50%;
  border: 1px solid #FFF;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: piefadein 2s;
}

.statistic-grafics-component {
  margin: 10px;
  padding: 15px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.3) ;
  border-radius: 50px;
}

.statistic-grafics-header {
  text-align: center
}

@keyframes piefadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
