.section-wrapper {
  min-height: 100vh;
  flex-grow: 10;
  margin: 0;
  padding: 0;
  background-color: rgba(180, 180, 180, 1);
}

.section-wrapper > h2 {
  height: 100px;
  background-color: #fddb2f;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}