.select-wrapper {
  min-width: 50px;
  text-align: left;
  border: 1px solid antiquewhite;
  border-radius: 5px;
  margin: 3px;
  padding: 3px;
  box-shadow: inset 0 0 10px 0 antiquewhite;
  cursor: pointer;
}

.select-values {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  height: 0px;
  transition: height 0.3s ease-in-out;
  overflow-y: scroll;
}

.select-value {
  background-color: rgba(0,0,0,0);
  padding: 2px 0;
  transition: background-color 0.1s ease-in-out;
}

.select-value:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.select-values.active {
  height: 100px;
  transition: height 0.3s ease-in-out;
}

.selected-value {
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

.selected-icon {
  display: inline-block;
  transform: rotate(90deg);
}