.logo-wrapper {
  height: 100px;
}

.logo-wrapper span {
  font-size: 3em;
  user-select: none;
}

.logo-wrapper a {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}