.modal-wrapper {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: #ccc;
  padding: 30px;
  border-radius: 15px;
  width: 30%;
  }

.modal-wrapper > .close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}