.left-menu-wrapper {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fddb2f;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 230px;
}

.left-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.left-menu-list-item {
  position: relative;
  height: 3em;
  cursor: pointer;
}

.left-menu-list-item.active {
  background: linear-gradient(to left, rgb(180, 180, 180), rgb(252, 218, 47));
}

.left-menu-list-item a {
  z-index: 1;
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.left-menu-list-item a:active {
  color: #000;
  border-bottom-left-radius: 1.5em;
  border-top-left-radius: 1.5em;
}

.left-menu-list-item::before {
  content: '';
  z-index: 0;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 3em;
  background: linear-gradient(to left, rgb(180, 180, 180), rgb(252, 218, 47));
  transition: all 0.2s ease-in-out;
}

.left-menu-list-item:hover::before {
  opacity: 1;
}