.date-filter-modal-wrapper {
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(150,150,150,1);
  animation: modalFadeIn 0.4s ease-in-out;
}

.date-filter-modal-wrapper.closing {
  animation: modalFadeOut 0.4s ease-in-out;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    opacity: 1;
    width: 250px;
    height: 40px;
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
    width: 250px;
    height: 40px;
  }
  to {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.date-filter-modal-close-icon {
  cursor: pointer;
}