.date-filter-container {
  position: relative;
  display: flex;
  align-items: center;
}

.date-filter-wrapper {
  min-width: 180px;
  max-width: 180px;
  padding: 5px;
  z-index: 1;
}

.date-filter-container > span {
  cursor: pointer;
} 