.table-wrapper {
  overflow-x: auto;
  max-width: calc(100vw - 220px);
  min-height: 700px;
}

.table-container {
  width: 100%;
  border-collapse: collapse;
  animation: tablefadein 1s;
}

@keyframes tablefadein {
  from { opacity: 0 }
  to   { opacity: 1 }
}

.table-header {
  font-size: 3em;
  margin-top: 0;
  height: 80px;
  background-color: #fddb2f;
  user-select: none;
}

.table-container th {
  padding: 0 5px;
  vertical-align: middle;
}

.table-container th div {
  height: 45px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container tbody td {
  white-space: nowrap;
  padding: 15px;
}

.table-container tbody tr:hover {
  background-color: rgba(221, 221, 221, 0.7) !important;
}

.table-container tbody tr:nth-child(even){
  background-color: rgba(170, 170, 170, 0.3);
}

.table-container-search-cell {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
}

.table-container-search-cell input {
  height: 2em;
}

.table-container-search-cell-clear {
  margin-left: -20px;
  cursor: pointer;
}

.controll-page-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
