.input-filter-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.input-filter-wrapper input {
  margin-right: -25px;
}

.input-filter-wrapper span {
  align-self: center;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
  background-color: #FFF;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  user-select: none;
}

.input-filter-wrapper span:hover {
  background-color: rgb(153, 153, 153);
  box-shadow: 0 0 5px 2px rgb(153, 153, 153);
}

.input-filter-wrapper span:active {
  background-color: #555;
  transition: all 0s;
}